In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
data = pd.read_csv('training_twitter_x_y_train.csv')
data

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...
10975,569934458364813313,neutral,American,NaN,Cottopanama85,NaN,0,@AmericanAir followback,NaN,2015-02-23 10:58:58 -0800,"ohio,panama",NaN
10976,568564006329434113,positive,United,NaN,PaulBEsteves,NaN,0,@united thanks for the help. Wish the phone re...,NaN,2015-02-19 16:13:17 -0800,Brooklyn,Eastern Time (US & Canada)
10977,569643648910028801,negative,US Airways,NaN,runfixsteve,NaN,0,@usairways the. Worst. Ever. #dca #customerser...,NaN,2015-02-22 15:43:24 -0800,"St. Augustine, Florida",NaN
10978,568864981917110272,negative,US Airways,NaN,CLChicosky,NaN,0,@nrhodes85: look! Another apology. DO NOT FLY ...,NaN,2015-02-20 12:09:15 -0800,NaN,NaN
10979,568929299350179840,negative,United,NaN,JW_Blocker,NaN,1,@united you are by far the worst airline. 4 pl...,NaN,2015-02-20 16:24:49 -0800,NaN,NaN

In [3]:
data.drop(['tweet_id','airline_sentiment_gold','name', 'negativereason_gold','retweet_count','tweet_coord','tweet_created','user_timezone','tweet_location','airline'], axis = 1, inplace = True)

In [4]:
data

      airline_sentiment                                               text
0              negative  @SouthwestAir I am scheduled for the morning, ...
1              positive  @SouthwestAir seeing your workers time in and ...
2              positive  @united Flew ORD to Miami and back and  had gr...
3              negative     @SouthwestAir @dultch97 that's horse radish üò§üê¥
4              negative  @united so our flight into ORD was delayed bec...
...                 ...                                                ...
10975           neutral                            @AmericanAir followback
10976          positive  @united thanks for the help. Wish the phone re...
10977          negative  @usairways the. Worst. Ever. #dca #customerser...
10978          negative  @nrhodes85: look! Another apology. DO NOT FLY ...
10979          negative  @united you are by far the worst airline. 4 pl...

[10980 rows x 2 columns]

In [5]:
data.isnull().sum()

airline_sentiment    0
text                 0
dtype: int64

In [7]:
x = np.array(data.text)
y = np.array(data.airline_sentiment)
arr = []
for i in range(len(x)):
    arr.append([x[i],y[i]])
arr[0]
# import random
# arr = random.shuffle(arr)
# arr[0]

['@SouthwestAir I am scheduled for the morning, 2 days after the fact, yes..not sure why my evening flight was the only one Cancelled Flightled',
 'negative']

In [ ]:
from nltk import word_tokenize
sample = 'hello howo are you'
test = word_tokenize(sample)
test

In [ ]:
for i in arr:
    i[0] = word_tokenize(i[0])
arr #################### Tokenized every tweet

In [ ]:
from nltk.corpus import stopwords
from string import punctuation
stopw = stopwords.words('english')
stopw += list(punctuation)
stopw #################### Retrieved list of Stopwords

In [ ]:
##########lemmatizingg
from nltk.stem import WordNetLemmatizer
lemm = WordNetLemmatizer()

In [ ]:
for i in arr:
    i[0] = [j.lower() for j in i[0] if j not in stopw]
arr #################### Removed Stopwords

In [ ]:
for i in arr:
    i[0] = [lemm.lemmatize(j) for j in i[0]]
arr

In [ ]:
####### making into x and y
x = [" ".join(i[0]) for i in arr]
y = [i[1] for i in arr]
x,y

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [ ]:
cv = CountVectorizer(ngram_range = (1,2))
a = cv.fit_transform(x_train)
b = cv.transform(x_test)

In [ ]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [ ]:
svc = SVC(kernel = 'rbf', C = 2)
svc.fit(a, y_train)

In [ ]:
lr = LogisticRegression(max_iter=10000)
lr.fit(a,y_train)

In [ ]:
# gnb = GaussianNB()
# gnb.fit(a.toarray(), y_train)

In [ ]:
svc.score(b, y_test), lr.score(b, y_test)#, gnb.score(b.toarray(),y_test)

In [ ]:
####Lets optimize

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
clf = GridSearchCV(svc, {
    'C' : [2,4,6,8]
})
clf.fit(a, y_train)

In [ ]:
df = pd.DataFrame(clf.cv_results_)
df
df[['param_C','rank_test_score']]